.footer{

    background-color: $morado;
    color: $hueso;
    width: 100%;
    .pregunta{
        color: $hueso;
    } 
    .pregunta:hover{
        color: $rosa;
    }
    .redes{
        width: 50px;
        margin: 20px;   
    }    
    }
 