.cuadros{

.card{
    background-color: $rosa;
    text-align: center;
    color: $hueso;
    margin: 20px;
    padding: 10px;
    height: auto;
    justify-content: center;
    .contecard{
        justify-content: center;
     .card-text{
         text-align: center;
     }
    }
 }
}