*{
    margin:0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(4 1fr);
    gap:10px;
    grid-template-areas:
    "header header header"
    "main main aside"
    "section section section" 
    "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    grid-area: aside;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
    background-color: blueviolet;
    color: aliceblue;
    
}
.logo{
    width: 100px;
}
.redes{
    width: 50px;
    margin: 20px;
}
.imagencompra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(244, 102, 178);
    color: aliceblue;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;  
}

img{
    width: 100px;
}
.whats{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    position: sticky; 
    top: -1px;
}
.section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.card{
   text-align: center;
   margin: 20px;
   padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
p{
    text-align: justify;
}